/* prettier-ignore */
.root {
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: max-w-screen-lg from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;
    composes: py-sm from global;

    composes: lg_gap-md from global;
    composes: lg_px-lg from global;
    composes: lg_py-md from global;
}

.mainContainer {
    composes: col-start-1 from global;
    composes: grid from global;
    composes: gap-y-xs from global;
}

.sidebarContainer {
    composes: border-t from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: col-start-1 from global;

    composes: lg_border-0 from global;
    composes: lg_col-start-2 from global;
}

.header {
    composes: font-semibold from global;
}

.text {
    composes: leading-normal from global;
}

.orderNumber {
    composes: header;
}

.shippingInfoHeading {
    composes: header;
}

.shippingInfo {
    composes: text;
    composes: grid from global;
}

.shippingAddress {
    composes: grid from global;
}

.shippingMethodHeading {
    composes: header;
}

.shippingMethod {
    composes: text;
}

.additionalText {
    composes: text;
}

@screen lg {
    .root {
        grid-template-columns:2fr 1fr;
    }
}