.root {
    composes: hidden from global;
    composes: flex-col from global;
    composes: align-center from global;

    composes: lg_grid from global;

    grid-template-areas: 'city'
                         'info';
}

.info {
    composes: grid from global;
    composes: gap-1 from global;
    composes: items-center from global;
    composes: text-xs from global;
    composes: w-full from global;
    composes: max-h-md from global;
    composes: text-brand-base from global;

    grid-template-columns: auto 0.6fr 1fr;
    grid-area: info;
}

.city {
    composes: text-xs from global;
    composes: ml-2xs from global;

    grid-area: city;
}