.submenuColumn {
    composes: max-w-[235px] from global;
    composes: p-1 from global;
}

.heading {
    composes: font-semibold from global;
}

.link {
    composes: whitespace-nowrap from global;

    composes: focus_underline from global;

    composes: hover_underline from global;
}

.linkActive {
    composes: underline from global;
}

.submenuChild {
    composes: mt-1 from global;
    composes: pl-4 from global;
}

.submenuChildItem {
    composes: mb-1 from global;
}
